@font-face {
  font-family: 'Patrick Hand SC';
  font-style: cursive;
  font-weight: 400;
  src: local("Patrick Hand SC"), local("Patrick Hand SC"), format("ttf"); }

.about-container {
  width: 100vw;
  margin: 0; }

.about-title {
  color: #777777;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 40px;
  padding: 0;
  margin-top: 90px;
  text-align: center; }

.about-p {
  color: #777777;
  padding: 10px 60px 10px 60px; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  max-width: 50vw;
  padding-top: 10px; }

.flex-item {
  margin: 10px 0 0 40px;
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch; }

.fa-industry {
  padding: 0 0 0 25px; }

.fa-area-chart {
  padding: 0 0 0 25px; }

.fa {
  padding: 0 0 0 25px; }

.knowlegde {
  display: block;
  color: #777777;
  padding: 10px 0 0 0; }

.about-appear {
  opacity: 0;
  transition: 0.9s ease-in all; }

.about-appear-active {
  opacity: 1; }
