@font-face {
  font-family: 'Vibur';
  font-style: cursive;
  font-weight: 400;
  src: local("Vibur"), local("Vibur"), format("ttf"); }

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 700;
  src: local("./fonts/Roboto_Slab"), local("./fonts/Roboto_Slab"), format("ttf"); }

@font-face {
  font-family: 'Indie Flower';
  font-style: cursive;
  src: local("./fonts/Indie+Flower"), local("./fonts/Indie_Flower"), format("ttf"); }

.finish {
  visibility: hidden; }

.jumbotron {
  background-color: #101823;
  margin: 0 auto;
  max-width: 97%;
  max-height: 97vh;
  padding: 0; }

.btn-primary-outline {
  background-color: #fcf8e3;
  color: red;
  border-color: #ffffff;
  top: 88vh;
  left: 48vw;
  position: absolute; }

h1.title-page {
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin-top: 40px; }

.img-responsive.picture {
  margin: auto;
  border-radius: 4px;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards; }

@keyframes fadeinout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.article-title {
  color: white;
  font-family: 'Roboto Slab';
  font-size: 32px;
  vertical-align: center;
  top: 50vh;
  left: 50vw; }

.flex-home {
  transform: translate(0, 50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

.flex-home-child {
  max-height: 180px;
  max-width: 170px;
  margin: 0 0 0 50px;
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch; }
