@font-face {
  font-family: 'Vibur';
  font-style: cursive;
  font-weight: 400;
  src: local("Vibur"), local("Vibur"), format("ttf"); }

.jumbotron {
  background-color: #101823;
  margin: 0 auto;
  max-width: 97%;
  max-height: 97vh;
  padding: 0; }

.img-responsive.home-img {
  zoom: 2;
  filter: blur(1.5px);
  display: block;
  margin: auto;
  border-radius: 4px;
  height: auto;
  max-width: 100%; }

.btn-primary-outline {
  background-color: #fcf8e3;
  color: red;
  border-color: #ffffff;
  top: 88vh;
  left: 48vw;
  position: absolute; }

.article-title {
  color: #fcf8e3;
  font-family: 'Vibur', cursive;
  font-size: 56px;
  top: 75vh;
  left: 20vw;
  position: absolute; }

.example-appear {
  opacity: 0.01;
  transition: opacity .9s ease-in; }

.example-appear.example-appear-active {
  opacity: 1; }

@font-face {
  font-family: 'Patrick Hand SC';
  font-style: cursive;
  font-weight: 400;
  src: local("Patrick Hand SC"), local("Patrick Hand SC"), format("ttf"); }

.about-container {
  background-image: url("../img/herbert.jpg");
  background-size: 100vw 100vh;
  width: 100vw;
  height: 90vh;
  box-shadow: inset 0 0 0 1000px rgba(16, 24, 35, 0.93);
  padding: 10px 60px 10px 60px;
  margin: 0; }

.about-title {
  color: #777777;
  font-family: 'Patrick Hand SC', cursive;
  padding: 0;
  margin: 0 auto;
  text-align: center; }

.about-p {
  color: #777777;
  padding: 10px 60px 10px 60px; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center; }

.flex-item {
  margin: 10px 0 0 60px;
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch; }

.fa-industry {
  padding: 0 0 0 25px; }

.fa-area-chart {
  padding: 0 0 0 25px; }

.fa {
  padding: 0 0 0 25px; }

.knowlegde {
  display: block;
  color: #777777;
  padding: 10px 0 0 0; }

.flex-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.flex-child {
  margin: 0 0 0 20px;
  color: #777777;
  background-color: transparent;
  border: 2px solid #777777;
  border-radius: 4px; }

.list-group-item {
  padding: 10px;
  margin-top: 20px;
  overflow: auto; }

.effect8 {
  -webkit-box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.75); }

.list-img {
  max-width: 140px;
  float: left;
  padding: 0 10px 0 0; }

.list-group-item-text {
  padding: 0 0 0 0; }

.big-container {
  background-color: white;
  height: auto;
  padding: 0 200px 0 200px; }

.date-smaller {
  font-size: 10px;
  color: #82868c; }

.img-1 {
  margin: 20px 0 20px 0;
  border-radius: 4px; }

.img-2 {
  margin: 20px 0 0 0;
  border-radius: 4px; }

.book1, .book2, .book3 {
  max-width: 20vw;
  border-radius: 4px; }

.video-detail .details {
  margin-top: 10px;
  color: #777777;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px; }

.list-group-item.videos {
  cursor: pointer;
  margin-top: 0; }

.list-group-item:hover {
  background-color: #eee; }

.navbar-custom {
  background-color: #101823;
  color: #ffffff;
  border-radius: 0; }

.navbar-custom .navbar-nav > li > a {
  color: #fff; }

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
  background-color: transparent; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }

.navbar .navbar-collapse {
  text-align: center; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
  text-decoration: none;
  color: #33aa33; }

.navbar-custom .navbar-brand {
  color: #eeeeee; }

.navbar-custom .navbar-toggle {
  background-color: #ffffff; }

.navbar-custom .icon-bar {
  background-color: #33aa33; }

.flex-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

img.img-album {
  max-width: 25vw; }

body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background-color: #101823;
  font-family: sans-serif; }
