.video-detail .details {
  margin-top: 10px;
  color: #777777;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px; }

.list-group-item.videos {
  cursor: pointer;
  margin-top: 0; }

.list-group-item:hover {
  background-color: #eee; }
