// @import '/font-awesome-4.7.0/scss/font-awesome.scss';

@font-face {
font-family: 'Vibur';
font-style: cursive;
font-weight: 400;
src: local('Vibur'), local('Vibur'), format('ttf');
}

.jumbotron {
  background-color: #101823;
  margin: 0 auto;
  max-width: 97%;
  max-height: 97vh;
  padding: 0;
}

.img-responsive.home-img {
  zoom: 2;
  filter: blur(1.5px);
  display: block;
  margin: auto;
  border-radius: 4px;
  height: auto;
  max-width: 100%;
}

.btn-primary-outline {
  background-color: #fcf8e3;
  color: red;
  border-color: #ffffff;
  top: 88vh;
  left: 48vw;
  position: absolute;
}

.article-title {
  color: #fcf8e3;
  font-family: 'Vibur', cursive;
  font-size: 56px;
  top: 75vh;
  left: 20vw;
  position: absolute;
}

.example-appear {
  opacity: 0.01;
  transition: opacity .9s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}