@import 'App';
@import 'about';
@import 'article';
@import 'book';
@import 'videos';
@import 'navbar';

body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background-color: #101823;
  font-family: sans-serif;
}

